@font-face {
    font-family: 'Carrois Gothic', sans-serif;
    src: url('/css/fonts/carroisgothic-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/carroisgothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
